@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}

body{
    font-family: 'poppins',sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto',sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* utility classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 500;
}
.container{
    max-width: 1080px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex{
    display: flex;
    align-items: center;
}
ul{
    list-style: none;
}

.primary-btn{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 24px;
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}
.secondary-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}


/* top banner */
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.top-banner{
    background-color: #4fb4d4;
    background-image: url('./assets/asset\ 30.png');
    background-size: 300px;
}

/* nav bar */

.company-logo img{
    width: 250px;
}

.main-nav{
    margin-top: 10px;
    justify-content: space-between;
    position: relative;
}

.nav-links{
    flex-basis: 730px;
    display: block;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.hover-links{
    color: var(--primary-text-color);
}

.hover-links:hover{
    color: var(--accent-color);
    transition: 0.2s ease-out;
}

.nav-menu-icon{
    display:none;
}

/* header section */

header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section{
    gap: 50px;
    justify-content: center;
}
.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 30px;
    font-size: 2.6rem;
}

.header-left p{
    margin-top: 20px;
}

.get-started-btn{
    margin-top: 25px;
}

.header-right img{
    width: 550px;
}

/* companies section */

.comp-header{
    text-align: center;
    margin-block: 50px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    height: 46px;
}

.go-logo{
    height: 30px;
}

/* features section */

.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.features-header{
    /* margin-block: 250px var(--padding-inline-section) 0; */
    text-align: center;
}

.features-head-txt{
    margin-bottom: 20px;
}

.features-area{
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-top: 30px;
}
.features-card{
    flex-direction: column;
    max-width: 30%;
    gap: 20px;
    text-align: center;
}
.features-card p{
    text-align: center;
}
.features-card img{
    height: 50px;
}
/* big feature section */


.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
    margin-top: 50px;
}

.big-feature-container{
    gap: 30px;
}
.big-feature-image img{
    width: 100%;
}
.reverse-img{
    flex-direction: row-reverse;
}
.big-feature-discription{
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.team-member{    
    flex-direction: column;
    align-items: start;
}
.team-member-name{
    height: 38.5px;
}

.team-member-img{
    float: left;
    height: 50px;
    
}
.team-member img{
    margin-top: 20px;
}
.member-desc{
    color: var(--primary-text-color);
    font-weight: 500;
}
.team-member h4{
    margin-top: 20px;
    padding-left: 60px;
}
.team-role{
    padding-left: 60px;
    
}

/* examples section */

.examples-header{
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 70px;
}
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
    flex-wrap: wrap;
}
.examples-card{
    width: 23%;
    min-height: 300px;
    background: black;
    position: relative;
    background: linear-gradient(rgb(0 ,0, 0, 0.1),rgb(0, 0, 0, 0.8)),url(./assets/asset\ 35.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
    border-radius:3px;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;    
}

.examples-card:nth-child(2){
    background: linear-gradient(rgb(0 ,0, 0, 0.1),rgb(0, 0, 0, 0.8)),url(./assets/asset\ 34.jpeg);
    background-size: cover;
}
.examples-card:nth-child(3){
    background: linear-gradient(rgb(0 ,0, 0, 0.1),rgb(0, 0, 0, 0.8)),url(./assets/asset\ 36.jpeg);
    background-size: cover;
}
.examples-card:nth-child(4){
    background: linear-gradient(rgb(0 ,0, 0, 0.1),rgb(0, 0, 0, 0.8)),url(./assets/asset\ 37.jpeg);
    background-size: cover;
}

.card-txt{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    font-weight: 500;
    color: white;
}

/* cta section */

.cta-section{
    background-color: #183b54;
    color: white;
    padding: 80px var(--padding-inline-section);
}

.cta-desc{
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.cta-desc h2{
    font-size: 2.6rem;
}
.cta-img{
    height: 600px;
    width: 1200px;
}
.cta-img img{
    width: 100%;
    justify-content: flex-start;
}

.cta-content{
    gap: 40px;
    font-size: 0.95rem;
    color: #b9cde4;
}

/* second cta section */

.second-cta-container{
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
}
.second-cta-container h2{
    font-size: 2.5rem;
}

.second-cta-container p{
    margin-top: 10px;
}

/* footer */

footer{
    background-color: #ebf2fa;
    padding-block: 80px;
    margin-top: 70px;
}
.footer-container{
    justify-content: space-between;
    align-items: flex-start;
}
.footer-links{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer-links a{
    color: var(--secondary-text-color);
}

/* sub footer */

.sub-footer{
    background-color: #b9cde4;
    padding: 20px var(--padding-inline-section) ;
}

.sub-links{
    justify-content: center;
    padding-block: 10px;
    gap: 25px;
}


/* rating */

#videoContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: black;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#clickVideo {
    display: block;
    margin: auto;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.form h3{
    margin-left: 12px;
}
.rating-form {
    font-size: 0;
    display: flex;
    justify-content: start;
}

.rating {
    border: none;
    margin: 0;
    padding: 0;
}

.rating input {
    display: none;
}

.rating label {
    float: right;
    font-size: 40px;
    color: #ddd;
    padding: 5px;
    cursor: pointer;
    transition: color 0.2s;
    margin-right: 40px;
    
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #f5b301;
}

#signupButton{
    margin-bottom: 20px;
}

.pop-up{
    transition: all 0.3s ease-out;
}
.pop-up:hover{
    transform: translateY(-5px);
    font-size: 1.4rem;
}
.fa-facebook:hover{
    color: #1877F2;
}
.fa-x-twitter:hover{
    color: #000000;
}
.fa-linkedin:hover{
    color: #0077B5;
}
.fa-youtube:hover{
    color:#FF0000;
}